*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    
}

.container .form{
    flex: 30%;
}

.container .signature{
    flex: 70%;
}

/* css for form section */

.form{
    background-color: #f36421;
    /* display: flex;
     */
}

#signatureform{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    /* display: flex;
    flex-direction: column; */
}

#signatureform h1{
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.information{
    margin: 10px;
}

.information input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255,255,255,0.9);
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

#signatureform label{
    text-align: left;
    
}

/* Submit Button */
#submit-btn{
    padding: 5px;
    height: auto;
    width:auto;
    border-radius: 5px;
}


.output{
    align-items: center;
}